@import url("https://use.typekit.net/qrx3apy.css");
/* Ajout de la police Rockwell nova
Les différents ajouts:
font-family: rockwell-nova, sans-serif;
font-weight: 700;
font-style: normal;

Rockwell Nova Bold Italic
font-family: rockwell-nova, sans-serif;
font-weight: 700;
font-style: italic;

Rockwell Nova Italic
font-family: rockwell-nova, sans-serif;
font-weight: 400;
font-style: italic;

Rockwell Nova Light
font-family: rockwell-nova, sans-serif;
font-weight: 200;
font-style: normal;

Rockwell Nova Light Italic
font-family: rockwell-nova, sans-serif;
font-weight: 200;
font-style: italic;

Rockwell Nova Regular
font-family: rockwell-nova, sans-serif;
font-weight: 400;
font-style: normal;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Ajout de la police Montserrat
font-family: 'Montserrat', sans-serif;
*/

html, body {
    height: 100%
}

body {
    margin: 0;
    background-color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.header {
    display: flex;
    font-family: rockwell-nova, sans-serif;
    gap: 10px;
    align-items: center;
}

.header > h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: white;
    margin: 0
}

.header > img {
    width: 18%;
}

.menu {
    display: flex;
    align-items: center;
}

footer {
    color: white;
    font-family: rockwell-nova, sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 5%;
}

footer > a {
    text-decoration: none;
    color: white;
}

.centerIndex:before {
    content: "";
}

.centerIndex {
    color: white;
    font-family: rockwell-nova, sans-serif;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

.centerIndex > h2 {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    align-self: center;
    justify-self: center;
}

.decouvrezIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.decouvrezIndex > a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}